/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #13042c;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #13042c;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 0;
}

.navbar h1 {
    margin: 0;
    font-size: 1.2em;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #3a0a88;
}

/* Seção de Introdução */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0218;
    padding: 50px;
    overflow: hidden;
}

.h1-primeiro {
    font-size: 45px;
    color: #ffffff;
    cursor: default;
}

.h1-segundo {
    font-size: 70px;
    color: #3a0a88;
    margin-top: -40px;
    cursor: default;
}

.dev {
    color: white;
    font-size: 25px;
    margin-top: -50px;
    opacity: 40%;
    cursor: default;
}

/* Seção Sobre Mim */
.sobremim {
    color: white;
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
    padding: 100px;
    cursor: default;
}

.sm {
    color: rgb(134, 134, 134);
}

/* Foto de Perfil */
.profile-photo {
    width: 350px;
    height: auto;
    margin-left: 20px;
    align-self: flex-start;
}

.profile-photo img {
    width: 100%;
    height: auto;
}

/* Ícones Sociais */
.social a {
    display: inline-block;
}

.social img {
    margin: 0 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social img:hover {
    transform: scale(1.2) rotate(10deg);
}

/* Seção de Skills */
.skills {
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    border-style: solid;
    border-color: #3a0a88;
    background-color: #0b0218;
    cursor: default;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    text-align: center;
    width: 100px;
}

.skill img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill img:hover {
    transform: scale(1.2) rotate(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Seção de Projetos */
.projetos {
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    cursor: default;
}

/* Animação de Digitação */
.typing {
    border-right: .1em solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s steps(40, end), blink-caret .95s step-end infinite;
    line-height: 1.2;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: #3a0a88; }
}

/* Rodapé */
footer {
    background-color: #13042c;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social {
    margin-top: 10px;
}

footer .social a {
    margin: 0 10px;
    display: inline-block;
}

footer .social img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

footer .social img:hover {
    transform: scale(1.2);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .skills-list {
        flex-direction: column;
    }

    .profile-photo img {
        width: 100%;
        height: auto;
    }
}

/* Layout Projetos */
.lista-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.projeto {
    background-color: #0b0218;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-color: #3a0a88;
    border-style: solid;
}

.projeto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.projeto:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}